<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/drugi.css') }}" />
	<script src="https://kit.fontawesome.com/f5a9dac7a5.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
	<title>Karte.rs - Politika privatnosti</title>
</head>

<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="header col-md-12">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-10 col-9">
						<div class="logo">
							<a href="{{ url_for('main') }}">
								<h1>karte.rs</h1>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-2 col-3">
						<div class="nav">
							<label for="toggle">&#9776;</label>
							<input type="checkbox" id="toggle" />
							<div class="lista">
								<ul>
									<a href="{{ url_for('about') }}">
										<li>o nama</li>
									</a>
									<a href="{{ url_for('categories') }}">
										<li>kategorije</li>
									</a>
									<a href="{{ url_for('login') }}">
										<li>uloguj se</li>
									</a>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-10 col-9">
						<form action="">
							<div class="forma row">
								<div class="col-md-9 col-sm-9 col-9">
									<input type="text" placeholder="Naziv, Tip dogadjaja..." />
								</div>
								<div class="search col-md-3 col-sm-3 col-3 ">
									<a href=""><img src="/static/img/search.jpg" alt="" /></a>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-3 col-md-2 col-sm-2 col-3">
						<div class="login">
							<div class="covek">
								<a href="{{ url_for('login') }}"><img src="login.png" alt="" /></a>
							</div>
							<a href="{{ url_for('login') }}">
								<h4>uloguj se/registracija</h4>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="onama homepage col-md-12">
				<div class="row"
					style="padding-left: 50px; padding-right: 40px; z-index: 2;padding-top: 40px; padding-bottom: 20px;;">
					<div class="col-lg-9 col-md-12" style="margin-top: 20px;">
						<div class="desni col-md-12">
							<div class="row">
								<div class="col-md-12" style="text-align: center; padding-top: 40px;">
									<h1>Politika privatnosti</h1>
								</div>

								<div class="col-md-12">
									<div class="text" style="margin-bottom: 20px;">
										<a href="{{ url_for('privacy_policy') }}">Politika privatnosti</a>
										<button class="btn btn-primary btn-md"
											style="float: right; margin-right: 3%; width: 80px;"
											onclick="window.location.href ='{{ url_for('about') }}'">
											Nazad
										</button>
									</div>
									<div class="col-md-12">
										<p style="text-align: left;">
											Karte d.o.o. <br> <br>
											Delatnost i šifra delatnosti: 7990, Ostale usluge rezervacije i delatnosti
											povezane s njima
											Matični broj:20102446
											PIB:104159848
											Web adresa: www.karte.rs
											Email: office@karte.rs
											<br> <br>
											CALL CENTER: 0900 11 00 11
											Cena poziva iz fiksne i mobilne mreže MTS-a iznosi 48,00 din/min. Porez je
											uračunat u cenu poziva.
											Radno vreme: ponedeljak – petak u periodu od 10 do 20 časova, subotom od 12
											do 20 časova (nedelja - neradan dan).
											Email:callcenter@karte.rs
											___________________________________________________________________
											<br> <br>
											Kriptovane porudžbine
											<br> <br>
											Svi Vaši lični podaci će biti transferisani SSL (Secure Socket Layer)
											metodom u 128-bitnoj enkripciji (RSA s 1024bita) i zbog toga ne mogu biti
											iskorišćene od strane trećih osoba. Ovo je trenutno najnoviji standard
											sigurnosti na internetu.
											<br> <br>
											Sertifikat
											<br> <br>
											Karte d.o.o. je sertifikovan od strane AlphaSSL (https://www.alphassl.com/).
											Ovlašćeni overilac sertifikata garantuje siguran prenos Vaših podataka i
											autentičnost našeg servera.
											<br> <br>
											Cookies / kolačići
											<br> <br>
											Kolačići su alfanumerički paketi informacija sa varijabilnim sadržajem koje
											šalje veb server koji se čuvaju na računaru korisnika i čuvaju u unapred
											određenom roku važenja. Upotreba kolačića omogućava da se ispituju neki
											podaci posetioca veb stranice i da se prati njihovo korišćenje na
											internetu. Kolačići pomažu da se prate interesovanja korisnika, obrasci
											upotrebe interneta i istorija poseta veb stranici kako bi se osiguralo da je
											iskustvo kupovine korisnika optimalno. Budući da se kolačići koriste kao
											vrsta oznake koja omogućava veb stranici da prepozna posetioca koji se
											vraća na stranicu, pomoću njih se takođe mogu sačuvati važeće korisničko
											ime i lozinka za tu veb lokaciju. Ako pregledač pošalje prethodno sačuvani
											kolačić, provajder servisa koji obrađuje kolačić ima mogućnost
											povezivanja trenutne posete korisnika sa prethodnom, ali samo u vezi sa
											njihovim sopstvenim sadržajem.
											<br>
											Informacije koje kolačići šalju olakšavaju prepoznavanje veb pretraživača,
											pa korisnici mogu primiti relevantan i „personalizovan“ sadržaj. Kolačići
											čine pregledavanje praktičnijim, uključujući potrebe za bezbednošću
											podataka na mreži i relevantno oglašavanje. Uz pomoć kolačića, provajder
											servisa takođe može kreirati anonimne statistike o navikama gledalaca
											stranica, tako da može bolje prilagoditi izgled i sadržaj stranice.
											Veb lokacija dobavljača usluge koristi dve vrste kolačića:
											<br> <br>
											- Privremeni kolačići – kolačići za upotrebu sesije (session-id) neophodni
											za upotrebu veb stranice. Njihova upotreba je od suštinskog značaja za
											navigaciju i za funkcionisanje veb stranice. Bez njih, sajt ili njegovi
											delovi neće biti prikazani, pregledavanje postaje ometano, stavljanje
											ulaznica u korpu ili bankovno plaćanje ne mogu se pravilno sprovesti.
											<br>
											- Trajni kolačići - koji će ostati na uređaju, ovisno o podešavanjima veb
											pretraživača, dugo ili dok ih korisnik ne obriše. Unutar njih postoje
											interni i eksterni kolačići. Interni kolačići se stvaraju ako server
											provajdera servisa instalira kolačić i podaci se proslede u njegovu
											sopstvenu bazu podataka. Ako je kolačić instalirao server provajdera
											servisa, ali se podaci prosleđuju spoljnom provajderu, koristi se spoljni
											kolačić. Kolačići treće strane koje je treća strana postavila u
											pregledač korisnika (Google Analitics, Facebook Pixel) su spoljni kolačići.
											Oni se stavljaju u pretraživač ako posećenia veb lokacija koristi usluge
											koje pruža treća strana. Svrha stalnih kolačića je da se osigura da veb
											lokacija funkcioniše na najvišem nivou u cilju povećanja korisničkog
											iskustva.

											<br> <br>Prilikom posete veb stranici Korisnik može dati svoju saglasnost za
											čuvanje trajnih kolačića sačuvanih na svom računaru kojima može pristupiti
											provajder servisa klikom na dugme upozorenja o kolačićima na stranici za
											prijavu. <br>
											Korisnik može konfigurirati i sprečiti aktivnosti vezane za kolačiće
											pomoću programa pretraživača. Korišćenjem upravljanja kolačićima korisnik
											obično može koristiti kolačiće ili opciju praćenja kolačića u meniju
											Privatnost / Istorija / Prilagođena podešavanja u meniju Alati /
											Podešavanja. Međutim, imajte na umu da je bez upotrebe kolačića moguće da
											korisnik neće moći da koristi svaku uslugu koju nudi veb lokacija, a
											naročito opcije plaćanja. <br>
											Svrha obrade podataka: obavljanje platnih transakcija s pružateljem platnih
											usluga, identifikacija i razlikovanje korisnika, identifikacija korisnikove
											trenutne sesije, čuvanje podataka stvorenih tokom sesije, sprečavanje
											gubitka podataka, identifikacija i praćenje korisnika, veb analitika.
											Obim obrađenih podataka: identifikacioni broj, datum, vreme i prethodno
											posećena veb <br>
											Period obrade podataka: privremeni kolačići se čuvaju dok se ne zatvore sve
											veb lokacije iste vrste. <br>
											Trajni kolačići se čuvaju na računaru korisnika godinu dana ili dok ih
											korisnik ne izbriše. <br>
											Moguće posledice neuspeha u pružanju podataka: nedostupnost određenih
											servisa veb stranice, neuspešne platne transakcije, netačnosti u analitici.
											<br> <br>
											E-Mail
											<br> <br>
											Karte d.o.o. koristi vašu e-mail adresu samo za postupak poručivanja
											ulaznica, osim ako sami ne odlučite da želite primati i novosti.
											Otkazivanja, odgađanja i ostala važna obaveštenja o dogadjajima prosledićemo
											vam e-mailom. Dalje, obavestićemo vas o važnim poboljšanjima naše web
											stranice / webshopa / postupka kupovine. U svakom slučaju, Karte d.o.o. ne
											šalje reklame koje nisu tražene putem e-maila.
											<br> <br>
											Ugovor
											<br> <br>
											Naš online servis podrazumeva sporazumno korišćenje i čuvanje Vaših
											podataka. Sve izmene u našem poslovanju koje se odnose na bezbednost i
											poverljivost podataka biće objavljene na našoj web stranici.
											<br> <br>
											Zaštita ličnih podataka
											<br> <br>
											Registracija, prikupljanje i upotreba informacija
											<br> <br>
											Tokom procesa kupovine skupljamo podatke kao što su ime, prezime, adresa
											isporuke, broj telefona i Vaša e-mail adresa. Vaše podatke koristićemo samo
											u svrhu izvršenja naše usluge i plaćanja. Da biste primali naš newsletter,
											potrebno nam je Vaše ime i e-mail adresa. Da biste dobili vesti, potrebno je
											da se prijavite na naš newsletter. Poštujući Vašu privatnost, omogućili smo
											vam da se sami odjavite sa ove liste. Pogledajte odeljak "Odjavljivanje /
											isključivanje" ovog dokumenta. Karte d.o.o. je ekskluzivni vlasnik podataka
											prikupljenih na web sajtu www.karte.rs . Karte d.o.o. prikupljeni podaci
											neće biti dostupni trećim licima.
											<br> <br>
											Narudžbine
											<br> <br>
											Morate uneti podatke o kontaktu (kao što su Vaše ime, adresa e-pošte, broj
											telefona i adresa isporuke) i informacije o plaćanju (kao što su broj
											platne kartice, datum roka i ime platne kartice ako se odlučite da platite
											platnom karticom). Karte d.o.o. nema uvid o podacima vezanim za platnu
											karticu, već se proces unosa tih podataka vrši na platformi provajdera
											plaćanja. <br>
											Mi ćemo koristiti ove informacije za izdavanje fakture i ispunjenje Vašeg
											naloga. U zavisnosti od ličnih podataka koje pružate, biće vam poslata
											faktura sa identifikacionim brojem kupovine i svim ostalim potrebnim
											informacijama. Ako dođe do problema pri popunjavanju Vašeg naloga,
											koristićemo te informacije da Vas kontaktiramo.
											<br> <br>
											Odnosi s kupcima
											<br> <br>
											Lične informacije koje unesete će nam pomoći da stupimo u kontakt sa Vama,
											odgovorimo na Vaša pitanja, pružimo usluge koje ste izabrali i upravljate
											nalogom. Ako je potrebno, kontaktiraćemo Vas putem e-maila ili telefona.
											<br> <br>
											Profil
											<br> <br>
											Sakupljamo informacije koje primamo putem kolačića i datoteka dnevnika, ali
											mi ne stvaramo nikakav "profil" Vaših preferencija. Povezaćemo Vaše lične
											podatke sa Vašim kupovinama, ali ih nećemo deliti sa trećim licima.
											<br> <br>Ankete i takmičenja<br> <br>
											Povremeno ćete imati priliku da učestvujete na takmičenjima ili anketama
											koje će biti objavljene na našoj web stranici. Ako odlučite da učestvujete,
											moraćete da unesete određene lične informacije. Učestvovanje u ovakvim
											događajima je potpuno dobrovoljno i sami odlučujete da li želite da unesete
											ove informacije. U većini slučajeva biće potrebni kontakt podaci (kao što su
											ime i adresa za isporuku) i demografske informacije (kao što je poštanski
											broj). <br>
											Koristićemo ove informacije da informišemo pobednike i dodelimo nagrade,
											kontrolišemo posećnost sajta i ponudimo učesnicima unos na našoj e-mail
											listi. Nećemo otkriti lične informacije koje ćete uneti tokom takmičenja ili
											istraživanja trećim licima.<br> <br>
											Korišćenje i objavljivanje podataka<br> <br>
											Vaše lične podatke ponekad delimo trećoj strani i pružaocima usluga. Treće
											strane, koristimo za pružanje usluga dostave kao i za proces plaćanja
											kreditnom karticom preko naše web stranice. Ove kompanije lične podatke
											čuvaju i koriste po svojim pravilima o zaštiti podataka. <br>
											U slučaju da bilo koja treća strana koja nije naš agent ili pružalac usluga,
											traži informacije, bićete obavešteni, a Vi ćete imati mogućnost da odlučite
											da li želite da date svoje lične podatke ovom klijentu.<br> <br>
											Odricanje<br> <br>
											Zadržavamo pravo otkrivanja Vaših ličnih podataka ako to zahtieva zakon i
											ako vjerujemo da je obelodanjivanje neophodno za zaštitu naših prava i / ili
											za postupanje u skladu sa sudskom istragom, sudskim nalogom ili pravnim
											postupkom.<br> <br>
											Odjavljivanje / isključivanje<br> <br>
											Na zahtev za unos Vaših ličnih podataka, takođe imate mogućnost da
											"odbijete" upotrebu ovih informacija u određene svrhe. <br>
											Ako više ne želite da primate naš newsletter i promotivne poruke, možete se
											odjaviti. U svakom newsletter-u i e-mailu možete pronaći uputstvo za
											odjavu, a takođe nam možete pisati na office@karte.rs ili poslati pismo na
											Karte d.o.o., Bulevar Arsenija Čarnojevića 58, 11070 Novi Beograd.<br> <br>
											Datoteke dnevnika<br> <br>
											U skladu sa pravilima većine web lokacija, automatski prikupljamo određene
											informacije i čuvamo ih u log fajlovima. Ove informacije uključuju Internet
											protokol (IP) adrese, tip pretraživača, Internet Service Provider (ISP)
											stranica sa kojih ste pristupili sajtu i stranicu na koju se ide iz našeg
											sistema, datum i vreme pristupa, i tok podataka po kliku. <br>
											Ova informacija, koja ne identifikuje pojedinačne korisnike, se koristi za
											analizu trendova, administraciju sajta, praćenje korisničkog kretanja i
											prikupljanje demografskih podataka o našim korisnicima uopšte.
											Ne povezujemo ove podatke sa ličnim podacima. <br> <br>
											Linkovi na druge stranice<br> <br>
											Ova stranica sadrži linkove na web lokacije koje nisu u vlasništvu ili
											kontrolisane od strane Karte d.o.o. Nismo odgovorni za politiku privatnosti
											ovih stranica. Preporučujemo da pročitate politiku privatnosti za svaku
											lokaciju koja prikuplja lične podatke i da budete pažljivi kada napustite
											našu web lokaciju. Naša politika privatnosti se odnosi samo na informacije
											koje sakupljamo na ovoj web lokaciji.<br> <br>
											Pristup ličnim informacijama<br> <br>
											Ako se Vaše lične informacije menjaju, možete ih ispraviti ili ažurirati
											unošenjem promena u polju "Korisnički nalog" ili putem e-maila
											office@karte.rs ili poslati pismo na Karte d.o.o., Bulevar Arsenija
											Čarnojevića 58, 11070 Novi Beograd<br> <br>
											Sigurnost<br> <br>
											Sigurnost Vaših ličnih podataka je važna za nas. Svi Vaši lični podaci će
											biti transferisani SSL (Secure Socket Layer) metodom u 128-bitnoj enkripciji
											(RSA s 1024bita) i zbog toga ne mogu biti iskorišćene od strane trećih
											osoba. Ovo je trenutno najnoviji standard sigurnosti na internetu. Karte
											d.o.o. je sertifikovan od strane AlphaSSL (https://www.alphassl.com/).
											Ovlašćeni overilac sertifikata garantuje siguran prenos Vaših podataka i
											autentičnost našeg servera. <br>
											Za zaštitu Vaših ličnih podataka koristimo industrijski prihvaćene
											standarde, kako tokom samog prenosa tako i kada dođu do nas. Međutim,
											nikakav način slanja podataka preko Interneta ili elektronskog skladišta
											nije 100% siguran. Stoga, uprkos upotrebi opšte prihvaćenih standarda i
											metoda zaštite Vaših ličnih podataka, ne možemo garantovati njihovu
											apsolutnu sigurnost. Da biste saznali više o bezbednosti na našem sajtu
											možete nam poslati e-mail na office@karte.rs ili poštom na Karte d.o.o.,
											Bulevar Arsenija Čarnojevića 58, 11070 Novi Beograd<br> <br>
											Promena u poslovanju<br> <br>
											Ako Karte d.o.o. prolazi kroz poslovne promene, kao što su spajanja,
											sticanja druge kompanije ili prodaje veći deo svoje imovine Vaši lični
											podaci će verovatno biti deo prodate imovine. Bićete obavešteni o bilo
											kakvoj većoj promeni vlasništva ili kontroli Vaših ličnih podataka putem
											e-pošte ili putem hitnog obaveštenja na našoj web lokaciji 30 dana pre
											promene.<br> <br>
											Izmene Izjave o privatnosti<br> <br>
											Ako odlučimo da promenimo našu politiku privatnosti, objavićemo ove izmene
											na našoj web lokaciji i na drugim sajtovima za koje smatramo da su
											prikladni. Ovo će vam pomoći da znate kako se sakupljaju i koriste podaci,
											kao i okolnosti pod kojima se mogu <br>
											Zadržavamo pravo izmene ove Izjave o privatnosti, tako da je redovno
											proveravate. Ovde ćete biti obavešteni o promenama naše politike
											privatnosti, ili putem e-pošte ili putem obaveštenja na našoj web
											stranici.<br> <br>
											Kontaktirajte nas<br> <br>
											Ako imate pitanja ili sugestije u vezi sa našom politikom privatnosti,
											možete nam poslati e-mail na office@karte.rs ili poštom na Karte d.o.o.,
											Bulevar Arsenija Čarnojevića 58, 11070 Novi Beograd

										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-12" style="margin-top: 20px;">
						<div class="levi col-md-12" style="padding-bottom: 40px;">
							<div class="row">
								<div class="novosti col-lg-12">
									<h4>Dešavanja</h4>
								</div>
								<div class="slikica col-lg-12 col-md-12 col-sm-12">
									<h2>Otvara se izložba „Devedesete: Rečnik migracija“ u Muzeju Jugoslavije</h2>
									<img src="static/img/desavanja1.jpg" alt="Ilustracija">
									<button type="button" class="collapsible">Proširi/Smanji</button>
									<p class="sadrzaj">U Muzeju Jugoslavije se u četvrtak, 5. decembra, u 18 časova
										otvara izložba „Devedesete: Rečnik migracija“, na kojoj će učestvovati više od
										trideset savremenih umetnika, umetnica i umetničkih i aktivističkih kolektiva,
										koji se bave problemom migracija stanovništva u Srbiju i iz Srbije tokom
										pomenute decenije. Ovo će ujedno biti prva postavka u obnovljenom enterijeru
										zgrade Muzeja 25. maj, koja je deo kompleksa Muzeja Jugoslavije. <br>
										„Primarni cilj izložbe je mapiranje različitih formi angažmana od devedestih do
										danas, kroz koje su u polju umetnosti adresirani društveni, kulturni, politički
										i pravni problemi stvoreni ovim veoma složenim i traumatičnim migracionim
										procesima, dok je dokumentarno-istoriografski pristup stavljen u drugi plan.
										Osim umetničkih pozicija, u izložbu su uključene pojedine inicijative i
										organizacije iz sfere aktivizma i civilnog sektora, ali prevashodno one koje u
										svoj rad uključuju saradnju sa savremenim umetnicima/umetnicama, ili koje su
										pokretali umetnici/pokretale umetnice“, ističu kustoskinje izložbe Simona
										Ognjanović i Ana Panić iz Muzeja Jugoslavije, i dodaju:
										<br>
										„U izložbu je uvedena i paralelna narativna linija, koja će moći da se prati
										kroz izbor dokumenta poput zakona, političkih sporazuma i nacionalnih
										strategija, koji su dominantno definisali statuse ljudi pogođenih migracionim
										kretanjima. Cilj ovakve strukture izlaganja je da delimično osvetli i širi
										kontekst u kome nastaju ili na koji referišu umetnički radovi i inicijative.“
										Publika će sadržaj izložbe otkrivati krećući se u prostoru kroz mrežu pojmova,
										odnosno „rečnik migracija“, koji će im pružiti aparat za čitanje i tumačenje
										izložbe.
										<br>
										„Rečnik predstavlja alternativu dominatnim dikursima kroz koje se u domenu
										zakona, javnih politika i u akademskoj sferi deluje i misli o ovim problemima.
										On otvara pitanja dometa i uloge umetnosti, aktivizma, civilnog sektora ali i
										javnih institucija, u rekonstrukciji prošlosti i preoblikovanju opštih mesta
										koja dominiraju javnom sferom“, objašnjavaju autorke izložbe.
										Pomenuti „rečnik” nastao je saradnjom kustoskinja i učesnika/učesnicaca izložbe,
										a čine ga sledeći pojmovi, sintagme i idiomi: adresa, bespravna nužnost,
										čišćenje, čovek, dostojanstvo/solidarnost/internacionalizam, hrabrost i/ili
										kukavičluk, inventar, izbrisani, jugoslovenstvo, karta u jednom pravcu, kofer,
										kompjutersko čišćenje/uzaludna nada, kuća ili dom, mesto, nelagodnost, drugi,
										plan, predmet, prijatelji, rupe, sigurna zemlja, slobodna privremena teritorija,
										transfer, tuga, ustanak, zakon, zemlja/teritorija, žudnja za životom.</p>
								</div>
								<div class="slikica col-lg-12 col-md-12 col-sm-12">
									<h2>„VACUUM" Velče Velčeva u galeriji Instituta Servantes</h2>
									<img src="static/img/desavanja2.jpg" alt="Ilustracija">
									<button type="button" class="collapsible">Proširi/Smanji</button>
									<p class="sadrzaj">Izložba „VACUUM" Velče Velčeva, koja se na provokativan i
										emotivan
										način bavi temama migracije stanovništva i „odliva mozgova" biće otvorena u
										ponedeljak, 16. decembra u 19 časova u galeriji Instituta Servantes. <br>
										„VACUUM" je projekat u kojem se beli zid galerije odenuo praznim vešalicama.
										Putem
										ove instalacije umetnik želi da odrazi situaciju u kojoj se verovatno svaki
										posetilac postavke i lično našao, videvši kako neki član porodice napušta dom
										ostavljajući prazne vešalice u ormaru. Suočavanje sa tom situacijom izaziva
										osećaj
										nazvan horror vacui. Reč je o strahu koji osoba doživljava kad gleda u prazan
										ormar.
										Mnoge vešalice koje ispunjavaju galeriju nose natpis ili tekst koji predstavlja
										trag
										koji je ostavio vlasnik svake od njih. Ormari su čuvali mnogo više od odeće i
										sada
										sadrže, uz usamljene vešalice, priče, sećanja, nostalgiju...
										<br>
										Kompozicija koju je umetnik predstavio podseća pomalo na neku vrstu groblja koje
										je
										posvećeno održavanju sećanja na sve one koji su, poput njega, bili primorani da
										napuste svoje domove bez mogućnosti povratka.
										<br>
										Velča Velčev rođen je 1959. godine u Dimitrovgradu. Prve dve godine Likovne
										akademije završava u Sofiji na odseku za slikarstvo kod profesora Dobrija
										Dobreva.
										Nastavlja školovanje na Fakultetu likovnih umetnosti u Beogradu gde diplomira u
										klasi profesora Vojislava Todorića. Prvih godina nakon fakulteta živi i radi u
										Beogradu gde se sporadično pojavljuje na likovnoj sceni grada. Od 1991.godine
										menja
										mesto boravka i nastavlja svoj život i rad u Španiji, tačnije na Majorci.
										<br>
										Prvih godina stupa u kontakt sa grupom slikara koji mu omogućavaju da veoma brzo
										uđe
										u krug avangardnih stvaralaca sa ostrva kao i iz cele Španije. Veoma važan
										trenutak
										za njegovu karijeru predstavlja početak saradnje sa galeristom Franom Reusom
										koji mu
										pruža punu slobodu u stvaralačkom procesu. U isto vreme, upoznaje velikog
										ljubitelja
										umetnosti i kolekcionara Migela Anhela Rijeru koji vremenom postaje njegov
										mecena i
										veliki prijatelj.
										<br>
										Izlagao je u više gradova širom Španije (Santjago de Kompostela, Madrid,
										Santander,
										Barselona, Hirona, Sevilja, Kartahena...) kao i u više zemalja Evrope i sveta:
										Nemačka, Belgija, Rusija, Grčka, Bugarska, Švedska, Izrael... Među poslednjim
										važnijim izložbama ističu se "Remind me I'm alive" u galeriji "Haos" u Beogradu
										i
										"Mente + ojos = mente - ojos" u Muzeju "Janko Dada" u gradu Ein Hod u Izraelu.
										Dela
										Velče Velčeva nalaze se u više muzeja i zbirki privatnih kolekcionara.
										<br>
										Izložba „Vacuum" biće otvorena do kraja januara. Ulaz je slobodan.</p>
								</div>
								<div class="slikica col-lg-12 col-md-12 col-sm-12">

									<h2>Otvaranje izložbe "Projekat Jugoslavija"</h2>
									<img src="static/img/desavanja3.jpg" alt="Ilustracija">
									<button type="button" class="collapsible">Proširi/Smanji</button>
									<p class="sadrzaj">Izložba „Projekat Jugoslavija”, autorki Ane Adamović i Milice
										Pekić,
										otvara se u utorak 17. decembra u 18 časova u Muzeju Jugoslavije (u zgradi
										Muzeja 25.
										maj). Postavka se sastoji iz video radova – odabranih intervjua, koji su rađeni
										sa sto
										sagovornika i sagovornica različitih uzrasta i profila, iz zemalja nastalih
										nakon
										raspada nekadašnje države. Izložba predstavlja završnicu istoimenog projekta,
										koji je
										rezultat višegodišnje saradnje Muzeja Jugoslavije i ,,Kioska – platforme za
										savremenu
										umetnost“.
										<br>Sâm proces intervjuisanja realizovan je atipičnim postupkom. Autorke su
										umesto
										konkretnog pitanja svakom učesniku ponudile karton koji opisuje neki od predmeta
										iz
										zbirki Muzeja Jugoslavije, na kome se nalaze osnovne informacije o tom predmetu:
										opis,
										datum ili period iz kojeg potiče i poreklo.
										<br>
										„Na taj način pokušale smo da kolekciju materijalnih tragova prošlosti posrednim
										putem
										prevedemo u formu živih komentara, aktuelnih razmišljanja, ideja i potencijala
										za
										budućnost”, objašnjavaju Ana Adamović i Milica Pekić iz platforme „Kiosk”.
										<br>
										„Da li je prošlost Jugoslavije već muzealizovana, istorizovana i pohranjena u
										arhivama?
										Može li nam ta prošlost razjasniti barem nešto o sadašnjosti, pomoći da razumemo
										krizu u
										kojoj se danas svet nalazi ili stalne poruke da je Evropska unija pred raspadom,
										budući
										da trpi svakodnevne potrese i izazove? Možemo li, na primeru multinacionalne,
										multikonfensionalne zemlje, koja se pre 25 godina raspala, početi da razmišljamo
										o
										alternativama za sadašnji trenutak?”, neka su od pitanja na koje „Projekat
										Jugoslavija”
										pokušava da ponudi odgovore, ističu autorke projekta, i dodaju:
										<br>
										„Odmakom od predmetnosti samih objekata, pokušale smo da razmišljanje o nasleđu
										jugoslovenske države udaljimo od nostalgične vizije prošlosti, pomerajući
										akcenat na
										razmišljanje o regionu, Evropi i svetu danas, koji su, čini se više nego ikada,
										zaglavljeni u permanentnoj krizi, sukobu, netoleranciji i nejednakosti”.
										<br>
										„Projekat Jugoslavija” realizovan je uz podršku Balkanskog fonda za demokratiju
										i
										Ministarstva kulture i informisanja Republike Srbije.
										<br>
										Izložba će biti otvorena do 15. aprila 2020. godine.
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<footer
			class="footer col-md-12	"
			style="background-color: rgb(31, 38, 45);"
	>
		<div class="row">
			<div class="col-md-3">
				<div class="logo">
					<a href="{{ url_for('main') }}"><h1>karte.rs</h1></a>
				</div>
				<div class="row">
					<div class="col-md-4"><i class="fab fa-facebook-f"></i></div>
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="fulist">
					<li><a href="{{ url_for('about') }}">O nama</a></li>
					<li><a href="{{ url_for('contact') }}">Kontakt</a></li>
					<li><a href="{{ url_for('help_page') }}">Pomoć</a></li>
					<li><a href="{{ url_for('terms') }}">Uslovi poslovanja</a></li>
					<li><a href="{{ url_for('privacy_policy') }}">Politika privatnosti</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="fulist">
					<li><a href="{{ url_for('categories') }}">Kategorije</a></li>
					<li><a href="{{ url_for('festivals') }}">Festivali</a></li>
					<li><a href="{{ url_for('concerts') }}">Koncerti</a></li>
					<li><a href="{{ url_for('sport') }}">Sport</a></li>
					<li><a href="{{ url_for('other') }}">Ostalo</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="fulist">
					<li><a href="{{ url_for('login') }}">Uloguj se</a></li>

				</ul>
			</div>
		</div>

		<div class=" row rezime ">
			<p>
				RAF team: Nikola Hromčik, Dušica Stevanović, Sara Đenić,
				Dimitrije Rakić
			</p>
		</div>
	</footer>
		</div>
	</div>
	<script type="text/javascript">
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var sadrzaj = this.nextElementSibling;
				if (sadrzaj.style.display === "block") {
					sadrzaj.style.display = "none";
				} else {
					sadrzaj.style.display = "block";
				}
			});
		}
	</script>
</body>

</html>